<h2>Sign Up</h2>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class="error_message">
        <h2>Form is invalid</h2>
        <ul>
            <div style="text-align:left;padding-left:140px;">
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
            </div>
        </ul>
    </div>
  <% end %>
    <div style="text-align:left;padding-left:140px;">
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Create", :class => "btn" %>
<% end %>
