<%= form_for @photo, :class => "form-inline" do |f| %>
	<div class="control-group">
		<%= f.label :name, "Photo Name" %>
		<%= f.text_field :name, :class => "input-large" %>
    </div>
    <div class="control-group">
		<%= f.label :description, "Description" %>
		<%= f.text_area :description, :rows => "3", :class => "input-large" %>
    </div>
    <div class="control-group">
		<%= f.label :photo, "Upload Photo" %>
		<%= f.file_field :photo %>
	</div>
	<%= f.submit "Save", :class => "btn" %>
<% end %>